* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.generator__box {
  background-color: #1f2937;
  padding: 4rem;
}

h1 {
  font-family: "Karla", sans-serif;
  font-weight: 800;
  color: #f9fafb;
  font-size: 2.5rem;
}

h1 > span {
  color: #4adf86;
}

p {
  font-family: "Inter", sans-serif;
  color: #9ca3af;
  font-size: 1.25rem;
  margin-top: 0.625rem;
  margin-bottom: 3.1875rem;
}

button {
  font-family: "Inter", sans-serif;
  background-color: #10b981;
  color: #f9fafb;
  border: none;
  cursor: pointer;

  padding: 0.75rem 1rem;
  border-radius: 6px;

  font-size: 1rem;
  font-weight: 500;
}

button:hover {
  background-color: #18936a;
  transition: all 1s ease;
}

hr {
  margin-top: 2.1875rem;
  margin-bottom: 2.1875rem;
}

/* ---------------------------------------- */

.generator__output {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.generator__output-one,
.generator__output-two {
  background-color: #273549;

  width: 16rem;
  height: 2.4375rem;

  border-radius: 6px;
  padding-bottom: 2.8rem;
}

#outputOneEl {
  color: #10b981;
  text-align: center;
}

#outputTwoEl {
  color: #10b981;
  text-align: center;
}

/* -------------- Media Queries -------------- */

@media screen and (max-width: 765px) {
  body {
    margin: 2rem;
  }
}

@media screen and (max-width: 750px) {
  .generator__output {
    flex-direction: column;
  }
}
